.DS_Store
.idea	
!.gitignore
user_gauss_params/data/combine/
user_gauss_params/data/nofeatures/user_1/user_1_0_nf.csv
user_gauss_params/data/nofeatures/user_1/user_1_0_onerow.csv
**/*0_onerow*
**/*0_nf*
*.csv
user_gauss_params/bk_data/*
user_gauss_params/data/*.csv 
user_gauss_params/data/q/* 
user_gauss_params/data/q_freq
user_gauss_params/data/gpp
user_gauss_params/py/*.csv 
user_gauss_params/data/united_gauss/*